*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Основной контент */
.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-inline-start: 30px;
  margin-inline-end: 30px;
}

/* Основное окно видео */
.result {
  margin-block-start: 78px;
}

.result__video-container {
  position: relative;
  display: block;
  width: 711px;
  height: 386px;
  margin-block-end: 11px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Форма поиска */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  gap: 5px;
}
/* заголовок */
.search-form__label-text {
  align-items: center;
}
/* input */
.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  min-width: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* эффекты */
.search-form__textfield:hover{
  cursor: url("../images/cursor-text.svg") 3 10, auto;;
}

.search-form__textfield:active {
  border: 1px solid white;
  border-radius: 0;
}

.search-form__label:has(:focus-visible) .search-form__textfield:not(:active) {
  outline: 1px solid white;
  outline-offset: 1px;
}

/* Блок чекбокса */
.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* чекбокс */
.search-form__checkbox-list {
  display: flex;
  gap: 14px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: transparent;
}

/* эффекты */
.search-form__checkbox-list 
.search-form__label {
  margin-bottom: -1px;
  cursor: url("../images/cursor.png") 1 1, auto;
}

.search-form__label:hover 
.search-form__label-text {
  border-bottom: 1px solid white;
}

.search-form__checkbox-list 
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list 
.search-form__pseudo-checkbox:active {
  border: 1px double #1b1919;
  background-color: white;
}

input[type="checkbox"]:checked + span {
  border: 1px double #1b1919;
  background-color: white;
}

/* Блок справа */
/* секция */
.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
}

/* заголовок */
.title {
  color: #fff;
  font-family: Oswald, Impact, "Arial Narrow Bold", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald, Impact, "Arial Narrow Bold", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

/* список темплейтов карточек */
.content__list {
  position: relative;
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list::-webkit-scrollbar {
  display: none;
}

/* Темплейт карточек */

.content__video-card {
  display: flex;
  justify-content: space-between;
  outline: 0;
  box-shadow: none;
  height: 107px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  background-color: #545050;
  cursor: url("../images/cursor.png") 1 1, auto;
}

.content__card-link:hover 
.content__video-card-title{
  text-decoration: underline white;
}

.content__card-link:hover 
.content__video-card-description {
  text-decoration: underline white;
}

.content__card-link:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: -1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 4px 0 0 2px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, Impact, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin-top: 2px;
  object-fit: cover;
  object-position: center;
}

/* Buttons */
/* Кнопка Найти */
.search-form__submit-button {
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-block-start: 26px;
  padding: 6px 73.5px;
  background-color: transparent;
  border: 1px solid white;
}
/* Кнопка Показать еще */
.more-button {
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 6px 73.5px;
  background-color: transparent;
  border: 1px solid white;
  width: 100%;
}

/* эффекты */
.button {
  cursor: url("../images/cursor.png") 1 1, auto;
}

.button:hover {
  text-decoration: underline white;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.more-button:focus-visible {
  outline: 1px solid white;
  outline-offset: -3px;
}
